
*{
    margin: 0px;
    padding: 0px;

}

.max-container{
    max-width: 1920px;
    margin: 0px auto;
}

.header-section{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    overflow: hidden;
    position: sticky;
    top: 0px;
    padding: 0px 40px 0px 40px;
    z-index: 99999999;
}
.sub-header{
    display: flex;
    align-items: center;
}
.logo{
    margin: 0px 300px 0px 0px ;
    

}
.login-btn{
margin: 0px 28px 0px 0px;
}

#btn-l{
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: #5a6168;
    background-color: white;
    border:2px solid #888d92;
    
}

#btn-l:hover{
    background-color: #ced2d6;
}

.sign-btn{
    margin: 0px 25px 0px 0px ;

    
}
#btn-two{
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    color: white;
    background-color: #ff2b85;
    border: none;
    font-weight: bolder;
}

#btn-two:hover{
    background-color: #c21760;
}
.glob-icon{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 37px;
    margin: 0px 22px 0px 0px;
    
    
    
    
}

.glob-icon:hover{
    background-color: #e9ebec;
    border-radius: 10px;
    
}
.icon-two{
    margin: 0px 0px 0px 0px ;
    padding: 10px 12px 5px 10px ;
    
}
.icon-two:hover{
    background-color: #e9ebec;
    border-radius: 50px;
}
.content{
    height: 450px;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    
  
}
.heading{
    padding: 100px 0px 0px 40px;
   font-family:  "Rubik", sans-serif;
   color: #303235;


}

.panda-image{

     padding: 50px 0px 0px 0px ; 
    
}

.heading-two{
    margin: 80px 0px 0px 35px ;
    font-size: larger;
  
}

.chief-image{
    height: 400px;
    width: 100%;
    margin: 20px 0px 0px 0px;

}
.box{
    height: 400px;
    width: 100%;
}

.text{
    height: 350px;
    width: 630px;
    position: relative;
    bottom: 180px;
     background-color:rgb(243, 243, 243);
     border-radius: 20px;
     border: 1px solid white;
     margin: 0px 35px ;
     
}
.paragragh{
    padding: 35px 0px 0px 30px;
    margin: 0px 0px 0px 0px ;
    font-size: 30px;
}

.box-paragraph{
margin: 20px 0px 0px 30px ; 
padding: 0px 0px 0px 0px ; 
font-size: 18px;
font-family: "Montserrat", sans-serif;
line-height: 27px;
color:#5a6168; 
}
.btn-box{
    padding: 15px 15px 15px 15px;
    margin: 18px 0px 0px 29px;
    color: white;
    background-color: #ff2b85;
    border: none;
    border-radius: 7px;
}

.btn-box:hover{
    background-color: #c21760;
}

.paragragh-two{
    margin: -115px 0px 0px 35px;
}

.image-card{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
.cabin img{
    width: 285px;
    height: 260px;
    border:none;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    
    
}
.cities-name{
    font-size: 33px;
}

.heading-three{
    margin: 50px 0px -5px 35px;
    color: #262729;
}


.content-picture{
    background-color: #c21760;
    height: 270px;
    width: 91vw;
    margin: 30px 350px 0px 35px ;
    border-radius: 10px;
}

.content-heading{
    padding: 30px 0px 10px 30px;
    color: white;
    font-size:25px;
    margin-bottom: 20px;

}

.parent-qr{
    height: 85px ;
    width: 85px;
    border: 1px solid white;
    border-radius: 7px;
    padding: 5px 0px 0px 5px ;
    margin: 10px 0px 0px 25px ;
   

}

.content-qr{
    height: 80px;
    width: 80px;
    

}

.content-mobile-picture img{

    position: relative;
    bottom: 220px;
    height: 335px;
    margin: 0px 0px 0px 490px ;
  
}

.content-lines{
    width: 250px;
    height: 100px;
    color: white;
    padding: 0px 0px 0px 0px;
    margin: -90px 0px -10px 170px;
    position: relative;
    bottom: 93px;
    font-size: 17px;
    line-height: 19px;

    

}


.office-image img{
    width: 100%;
    height: 350px;
    margin: 25px 0px 0px 0px ;
    padding: 0px 0px 0px 0px ;

}
.heading-four{
    margin: 90px 0px 0px 35px;
    padding: 18px 0px 0px 0px ;
}


.last-section{
    height: 210px;
    width: 600px;
    background-color:white;
    padding: 0px 0px 0px 0px ;
    margin: 0px 0px 0px 35px ;
    position: relative;
    z-index: 99999999;
    bottom: 180px;
    border-radius: 12px;
    box-shadow: 0px 0px 3px gray ;
}
.last-section-paragraph{
    padding: 15px 0px 0px 35px ;
    font-size: 19px;
    color: #303235;
    
}

.ques-ans-section{
    margin: 0px 0px 0px 35px ;
}

.child{
    margin: -40px 0px 0px 0px;
}

.ques-ans-section-paragraph{
    margin: 15px 100px 0px 0px;
    font-size: 18px;
    color: #a1a4a7;
    line-height: 25px;
}
.ques-ans-one h1{
    margin: 20px 0px 15px 0px ;
}


hr{
    margin: 20px 70px 15px 0px ;
  
}
h2{
    margin: 0px 0px 15px 0px ;
    color:#262729 ;
}
h3{
    margin: 20px 0px 0px 0px ;
    color: #262729;
}

.h3-speical{
    margin:30px 0px 0px 0px ;
}
.footer-section-hr{
    margin: 150px 40px 50px 0px;
}
.other-countries-name{
    margin: 0px 45px 0px 0px ;

}

.footer-countries-name{
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    
}
.footer-countries-name a{
    color: #5a6168;
    margin: 0px 0px 0px 0px ;
    text-decoration: none;
}

.hr-lines{
    height: 20px;
    margin: 0px 0px 0px 0px ;
}

.footer-section-hr-two{
    margin: 40px 0px 0px 0px ;
}

.copy-rigth{
    color: #212122;
}

.nav-footer{
    display: flex;
    margin: 35px 50px 0px 0px ;
    
    
}
.copy-rigth{
    margin: 0px 150px 0px 0px;
}
.foot-links{
    flex-direction: column;
    display: flex;
    gap: 25px;
    text-decoration: underline;
   
}
.foot-links-two{
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-decoration: underline;
    
}

.foot-links-three{
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-decoration: underline;
    
}
a{
    text-decoration: none;
    color:#212122;
    font-size: 20px;
    
}

.second-last-hr{
    margin: 40px 30px 0px 0px;
    
}
.footer-foodpanda-image{
    display: flex;
    align-items: center;

}

.last-hr{
    height: 20px;
    margin: 0px 0px 0px 7px ;
}
.insta-icon-fb-icon{
margin: 0px 25px 0px 0px ;
 position: absolute;
 right: 0px;


}

